<div ng-controller="inicialController">

	<div class="col-lg-12" ng-init="init()">

		<h3 class="page-header">Inicial</h3>

		<!-- <div class="row">
        <div class="col-md-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <button ng-click="basicUsage('warning')" type="button" class="btn btn-warning">Warning</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button ng-click="basicUsage('info')" type="button" class="btn btn-info">Info</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button ng-click="basicUsage('danger')" type="button" class="btn btn-danger">Danger</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button ng-click="basicUsage('success')" type="button" class="btn btn-success">Success</button>
              </div>
            </div>
          </div>
        </div>
      </div> -->

	</div>
</div>

