<div class="navbar-default sidebar" role="navigation">

	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">

			<li><a href="#!"><i class="fa fa-home fa-fw"></i>
					Home</a></li>
			<li><a href="#!sistema"><i class="fa fa-plus fa-fw"></i>
					Sistema</a></li>
			<li><a href="#!ambiente"><i class="fa fa-plus fa-fw"></i>
					Ambiente</a></li>
			<li><a href="#!propriedade"><i class="fa fa-sliders fa-fw"></i>
					Propriedades</a></li>
			<li><a target="_blank" rel="noopener noreferrer" href="/swagger"><i
					class="fa fa-gears fa-fw"></i> Swagger</a></li>

		</ul>
	</div>

</div>